.font-raleway{
    font-family: "Raleway", sans-serif;;
}
.font-inter{
    font-family: "Inter", sans-serif;
}
.text-green{
    color: #1DD100;
}
.btn-green{
    background-color: #1DD100;
    padding: 15px 25px;
    border-radius: 12px;
}
.dark-text{
    color: #030712;
}